/* styles/globals.css */

:root {
    /* Updated Color Scheme for a Cinematic Feel */
    --button-text-color: rgb(255, 255, 255); /* White text for buttons for legibility */
    --button-background-color: rgb(95, 100, 105); /* Subdued steel gray for less dominant elements */
    --button-hover-background-color: rgb(112, 123, 129); /* Slightly lighter gray for hover effect */
    /* Existing Color Variables */
    --primary-color: rgb(20, 20, 20); /* Near black for a deep cinematic look */
    --secondary-color-1: rgb(95, 100, 105); /* Subdued steel gray for less dominant elements */
    --secondary-color-2: rgb(255, 220, 0); /* Bright gold for highlighting important elements (like star ratings) */
    --accent-color-1: #d32f2f; /* Red accent for critical actions or notifications */
    --accent-color-2: rgb(0, 173, 239); /* Bright blue for links and interactive elements */
    --background-color: rgb(248, 248, 255); /* Very light gray (almost white) for a neutral backdrop */
    --neutral-color: rgb(112, 123, 129); /* Medium gray for neutral text */
    --form-background-color: rgb(255, 255, 255); /* White background for forms */
    
    /* Additional Variables */
    --max-width: 1200px;
    --border-radius: 4px; /* Smaller border radius for a more modern, clean look */
    --font-sans: 'Helvetica Neue', Arial, sans-serif; /* Helvetica Neue is widely used in modern web, fallback to Arial */
    --font-mono: 'Courier New', monospace;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */


}


  
#root { /* or the main wrapper of your app */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use vh (Viewport Height) instead of % */
}
  
.content {
    flex: 1; /* This will allow the content area to expand and occupy any available space */

}
  

/* Button Styles for Better Contrast */
button, .MuiButton-root {
    color: var(--background-color); /* Text color */
    background-color: var(--button-background-color); /* Background color */
    transition: var(--background-color) 0.3s; /* Smooth transition for hover effect */
}

button:hover, .MuiButton-root:hover {
    background-color: var(--button-hover-background-color); /* Background color on hover */
}


/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0; /* Reset default margin */
    font-family: var(--font-sans);
    background-color: var(--background-color);
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Layout and Components */
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.search-bar {
    margin-bottom: 20px;
}



/* Card styles using secondary color */
.card {
    background-color: var(--secondary-color-1); /* Use secondary color for card background */
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 5px; /* Smaller margin to create tighter columns */
    color: var(--button-text-color); /* White text for better contrast */
    height: auto; /* Allow height to adjust to content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Set the card height to 100% to fill the container */
    width: 250px; /* Set a fixed width */
    padding-bottom: 10px; /* Ensure there's space at the bottom of the card */
    max-width: 300px; /* Set a maximum width to prevent the card from getting too large */


}


.movie-card {
    background-color: var(--secondary-color-1); /* Use secondary color for card background */
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 5px; /* Smaller margin to create tighter columns */
    color: var(--button-text-color); /* White text for better contrast */
    height: auto; /* Allow height to adjust to content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%; /* Set a fixed width */
    padding-bottom: 10px; /* Ensure there's space at the bottom of the card */


}





/* Media query for responsive adjustments */
@media (max-width: 768px) {
    .card {
        width: auto; /* Allow cards to fill the container */
        margin: 10px; /* Adjust margin for better spacing on smaller screens */
    }
}

.movies-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    /* This will create a grid with a minimum column size of 20% and a maximum of 1 fraction of the available space */
    gap: 5px; /* Spacing between grid items */
    padding: 10px; /* Padding around the grid */
}

/* Adjustments to movie card media to ensure uniform height */
.movie-card-media {
    height: 300px; /* Maintain a fixed height for all images */
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius); /* Optional: to round the images to match the card */
    flex-shrink: 0; /* This will prevent the image from shrinking */
    object-fit: cover; /* This will prevent the image from stretching */
}



/* Apply the styles to the container that wraps your movie cards */
.movies-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will create evenly spaced items with smaller gaps */
    padding: 0 10%; /* Example: Add padding to both sides */

}

.movie-card-content {
    flex: 1; /* Allows the content to expand and fill the available space */
    overflow: hidden; /* Hide overflow to maintain a clean appearance */
    display: flex; /* Use flex layout for better control */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically for a balanced look */
}
  
.movie-title {
    font-size: 1rem; /* Smaller font size for longer titles */
    line-height: 1.2; /* Tighter line height to fit more text */
    height: 3.6rem; /* Adjusted height based on the new font and line height */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis to text that overflows */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines of text */
    word-wrap: break-word; /* This will ensure the text wraps and fills the card */
    hyphens: auto; /* This can help with breaking words properly */
    padding: 0 5px; /* Add padding to prevent text from touching the card edges */
}


/* Login Form */
.login-form {
    height: auto;
    width: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--neutral-color); /* Lighter border */
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--primary-color);
}

/* Footer */
.footer {
    flex-shrink: 0; /* Prevents the footer from shrinking */
    text-align: center;
    height: auto; /* Set a fixed height */
    background-color: var(--primary-color);
    color: var(--button-text-color); /* White text for footer */
    width: 100%;
}

.slick-next {
    color: var(--secondary-color-1) !important;
    background-color: var(--primary-color) !important;
    right: 15px !important;
    z-index: 1;
    transition: var(--background-color) 0.3s ease !important;
}

.slick-next:hover {
    color: var(--button-hover-background-color) !important;

}

.slick-prev {
    color: var(--secondary-color-1) !important;
    background-color: var(--primary-color) !important;
    left: 3px !important;
    z-index: 1;
    transition: var(--background-color) 0.3s ease !important;
}

.slick-prev:hover {
    color: var(--button-hover-background-color) !important;
}

.slick-list {
    padding-left: 25px !important; /* Adjust this value to move items to the right */
}




.category-heading {
    color: var(--primary-color); /* Subdued steel gray */
    margin-bottom: 20px; /* Space below the heading */
    font-family: var(--font-sans); /* Use the defined sans-serif font */
    font-size: 1.75rem; /* A moderate size for elegance */
    font-weight: 600; /* Bold, but not too bold */
    text-align: left; /* Align to the left for a clean look */
    padding-bottom: 10px; /* Space at the bottom */
    border-bottom: 2px solid var(--primary-color); /* A subtle line for a touch of sophistication */
}





    

